.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    padding: 20px 30px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: modalOpen;
    animation-duration: 0.4s;
    overflow-y: auto;
    max-height: 80%;
  }
  
  @keyframes modalOpen {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
  }
  
  .color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    border-radius: 3px;
  }
  
  .color-box.green {
    background-color: #0f0;
  }
  
  .color-box.yellow {
    background-color: #ff0;
  }
  
  .color-box.blue {
    background-color: #00f;
  }
  
  .color-box.gray {
    background-color: #ccc;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  ul ul {
    margin-left: 20px;
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  h2, h3 {
    margin-top: 0;
  }
  